@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Rancho&display=swap');

$light: #fff8ee;
$dark: #2a2a2a;
$primary: #d1572b;
$secondary: #f5b841;
$info: #23abb9;
$success: #04c066;
$warning: #efd103;
$danger: #ff1521;

$carousel-dark-indicator-active-bg:  $primary;
$carousel-dark-caption-color:        $primary;

body {
  font-family: "Montserrat", sans-serif;
}

.required {
  position: relative;
}

.required::after {
  content: "*";
  color: $danger;
  margin-left: 2px;
  position: absolute;
}

.cursor-pointer {
  cursor: pointer;
}

.show-custom {
  min-height: 100dvh;
  width: 300px;
}

.hide-custom {
  display: none;
  min-height: 100dvh;
}

#wrapper {
  overflow-x: hidden;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  width: 100%;
}

body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
    margin-left: -15rem;
  }
}

@import "bootstrap/scss/bootstrap";
